/**
 * Document: DDS 2014 Stylesheet
 * Author: Pritam Pebam
 * Email: ptamzz@gmail.com
 * Version: 1.0.0
 */


/* 	http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 | License: none (public domain) */

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul { list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

b, strong { font-weight: bold }
i, em { font-style: italic }

p { margin-bottom: 10px; line-height: 1.4em; }


body {
    font-family: 'fira_sans_otlight', sans-serif; line-height: 1.4em;
    background-color: #eff2f5;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    line-height: 1;
}

.content { overflow: hidden; }

a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

.content a:hover { color: #00A79D; }

/*** START: Page Loading styling **/
.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;

    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.pace-inactive { display: none; }

.left { float: left; }
.right { float: right; }

/*** END: Page Loading styling **/


/* HTML5 Reset Ends here */

h2 { font-size: 35px; line-height: 2em; font-weight: bold; }
h3 { font-size: 30px; line-height: 1.4em; }
h3 { font-size: 25px; line-height: 1.4em; }

/* Custom Code starts */

/*  WRAP DIV FOR THE HTML5 VIDEO */

#bg { position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; }
#bg video { position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;min-width: 50%; min-height: 50%; }
#overlay { background: url(../img/pattern.png); position: fixed; background-repeat: repeat; top: 0; left: 0; min-width: 100%; min-height: 100%; z-index: 1; }


.small-icon { width: 40px; float: left; margin-left: -55px; margin-top: -15px; }
        .main-title { font-size: 30px; font-family: 'fira_sans_otbold', sans-serif; margin-bottom: 20px; }

    .quote { font-size: 20px; margin: 20px 0 20px 0; }
        .quote-meta { font-family: 'fira_sans_otlight', sans-serif; margin: -15px 0 20px 20px; font-size: 12px; }
    .reverse-quote {  font-size: 20px; margin: 20px 0 20px 0; padding: 5px 15px; display: inline-block; }
    .reverse-quote-green {  background-color: rgb(0,167,157); }
    .reverse-quote-yellow {  background-color: rgb(214,223,35); color: #404041; }
    
    .big-quote { font-size: 60px; margin: 20px 0 20px 0; }

.small-meta { font-size: 12px; margin-top: 8px; }


.logo-container { position: absolute; top: 185px; left: 50%; margin-left: -550px; z-index: 100; }
    .logo-container img { width: 500px; }
    .home-time { color: #FFF; float: left; width: 210px; margin: 20px 25px 10px 35px; font-family: 'fira_sans_otlight', sans-serif; }
    .home-time h5 { font-family: 'fira_sans_otbold', sans-serif; color: #00A79D;  }
    .home-time h6 { font-family: 'fira_sans_otbold', sans-serif; color: rgba(255,255,255,.9); }
    

.venue-date { position: fixed; top: 450px; left: 0; z-index: 100; }
.body-bar { color: rgb(255,255,255); width: 500px; position: absolute; left: 50%; top: 185px; margin-left: 50px; padding-left: 45px;  z-index: 10; }
    .social a { display: inline-block; margin: 30px 15px 0 0; }
    .social a img { width: 38px; }

    

.content { position: relative; background-color: rgba(255,255,255,1); color: rgba(0,0,0,.9); padding-left: 50px; overflow: scroll; min-width: 1024px; }
    .home-pane .content { background-color: rgba(0,0,0,.7); }
    .workshops-pane .content { background-color: #f4f4f4; }
    .sponsors-pane .content { color: rgba(255,255,255,.9); background: url(../img/dark_bg.png); background-attachment: fixed; background-repeat: no-repeat; background-size: cover; }

    .content:after { content: ' '; display: block; clear: both; }

    .home-left { position: absolute; top: 865px; color: #FFF; width: 500px; margin-left: 100px; }

/* Effect 11: Scale and rotate pusher */
.st-container { position: relative; z-index: 10; display: none; }

.st-effect-11.st-container {
    -webkit-perspective: 1500px;
    -moz-perspective: 1500px;
    -ms-perspective: 1500px;
    -o-perspective: 1500px;
    perspective: 1500px;
}

.st-effect-11 .st-pusher {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.st-effect-11.st-menu-open .st-pusher {
    -webkit-transform: translate3d(100px, 0, -600px) rotateY(-20deg);
    -moz-transform: translate3d(100px, 0, -600px) rotateY(-20deg);
    -ms-transform: translate3d(100px, 0, -600px) rotateY(-20deg);
    -o-transform: translate3d(100px, 0, -600px) rotateY(-20deg);
    transform: translate3d(100px, 0, -600px) rotateY(-20deg);
}

.st-effect-11.st-menu {
    opacity: 1;
    -webkit-transform: translate3d(-200px, 0, 0);
    -moz-transform: translate3d(-200px, 0, 0);
    -ms-transform: translate3d(-200px, 0, 0);
    -o-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
}

.st-effect-11.st-menu-open .st-effect-11.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -webkit-transform 0.5s;
    -o-transition: -webkit-transform 0.5s;

    transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.st-effect-11.st-menu::after { display: none; }

#others.st-pusher { background-color: rgb(255,255,255); }

.st-pusher { 
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}
#drum-roll { opacity: 0; position: absolute; }


.magic { 
    -webkit-transform: translate3d(100px, 0px, -600px) rotateY(-20deg);
    -moz-transform: translate3d(100px, 0px, -600px) rotateY(-20deg);
    -ms-transform: translate3d(100px, 0px, -600px) rotateY(-20deg);
    -o-transform: translate3d(100px, 0px, -600px) rotateY(-20deg);
    ransform: translate3d(100px, 0px, -600px) rotateY(-20deg);
}
    .reverse-magic {
        -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0);
        -moz-transform: translate3d(0px, 0px, 0px) rotateY(0);
        -ms-transform: translate3d(0px, 0px, 0px) rotateY(0);
        -o-transform: translate3d(0px, 0px, 0px) rotateY(0);
        transform: translate3d(0px, 0px, 0px) rotateY(0);
    }


/* Nav */

.st-menu {
    background-color: #FFE11A;
    width: 250px;
    padding: 25px 20px;
    position: fixed;
    z-index: 20;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

.main-nav { position: fixed; z-index: 100; overflow-x: hidden; }
.main-nav ul { width: 50px; margin-top: 25px; color: rgba(0,0,0,.7); overflow: hidden; }
    .main-nav ul li.cur-nav { font-weight: bold; }
    .main-nav ul li a { width: 250px; display: block; padding: 10px; }
        .main-nav ul li a:after { display: block; content: ' '; clear: both;}
        .main-nav ul li a i { display: block; float: left; }
        .main-nav ul li a span.nav-title { display: block; float: left; margin-left: 15px; font-size: 15px; margin-top: 7px; }

.icon { display: inline-block; width: 30px; height: 35px; }

        .home i { background: url("../img/dds_main_icon.png") no-repeat; background-size: 30px; }
        .speakers i { background: url("../img/mic.png") no-repeat; background-size: 30px; }
        /*.workshops i { background: url("../img/edit.png") no-repeat; background-size: 30px; }*/
        .d-tour i { background: url("../img/edit.png") no-repeat; background-size: 30px; }
        .projects i { background: url("../img/stack.png") no-repeat; background-size: 30px; }
        .about i { background: url("../img/about-icon.png") no-repeat; background-size: 30px; }
        .alumni i { background: url("../img/social.png") no-repeat; background-size: 30px; }
        .sponsors i { background: url("../img/badge.png") no-repeat; background-size: 30px; }
        .contact i { background: url("../img/contact-icon.png") no-repeat; background-size: 30px; }
    .home .nav-title { font-size: 30px; font-weight: bold; }


.meta-one { font-family: "fira_sans_otmedium", sans-serif; }
.meta-two { font-family: "fira_sans_otligth", sans-serif; }
    .meta-two .name-list { list-style: none; margin: -20px 0 15px 25px; }

/* isotope for Masonry Layout */
.isotope { z-index: 100; }
    .isotope:after { content: ''; display: block; clear: both; } /* clear fix */

/* ******* d.tour *************** */
.d-tour-pane .content { background: url(../img/wire-bg.png); background-attachment: fixed; background-repeat: no-repeat; background-size: cover; }
.d-tour-pane .content h3.title, h3.title { font-family: 'fira_sans_otbold', sans-serif; font-size: 50px; color: #00A79D; padding: 0; }

#char-design { background-color: #486BB3; color: #FFF; }
#product-design { background-color: #D61F2F; color: #FFF; }
#calligraphy-design { background-color: #099948; color: #FFF; }
#mobility-design { background-color: #0D6194; color: #FFF; }
#hardware-design { background-color: #F15925; color: #FFF; }
#mobile-design { background-color: #8DB03F; color: #FFF; }


    .d-tour-pane .content .each-tour:first-child { width: 600px; padding: 20px 35px }
    .each-tour { float: left; min-height: 700px;  width: 500px; min-height: 100px; }
    .d-tour-pane .each-tour:last-child { width: 50px; background-color: #7B9630; color: #FFF; }

        .each-tour h4.title { font-size: 30px; margin: 15px 0 10px 0; }
            .d-tour-pic { height: 350px; width: 100%; }
                .d-tour-pic:after {
                    content: ''; display: block; width: 100%;  top: 0; left: 0;z-index: 10;
                    
                    /* For image Vignette Effect */
                    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(2,0,0,0.45) 89%, rgba(0,0,0,0.51) 100%); /* FF3.6+ */
                    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(89%,rgba(2,0,0,0.45)), color-stop(100%,rgba(0,0,0,0.51))); /* Chrome,Safari4+ */
                    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(2,0,0,0.45) 89%,rgba(0,0,0,0.51) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(2,0,0,0.45) 89%,rgba(0,0,0,0.51) 100%); /* Opera 12+ */
                    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(2,0,0,0.45) 89%,rgba(0,0,0,0.51) 100%); /* IE10+ */
                    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(2,0,0,0.45) 89%,rgba(0,0,0,0.51) 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#82000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                }

                #char-design .d-tour-pic { background: url(../img/character-design.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
                #product-design .d-tour-pic { background: url(../img/pd-conceptualization-workshop.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
                #calligraphy-design .d-tour-pic { background: url(../img/calligraphy-design.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
                #mobility-design .d-tour-pic { background: url(../img/mobility-worshop.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
                #hardware-design .d-tour-pic { background: url(../img/hardware-workshop.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
                #mobile-design .d-tour-pic { background: url(../img/mob-app-workshop.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
            .d-tour-desc { padding: 25px 35px; }
    .each-tour:first-child .quote { margin-top: 55px; color: #6B0A29; } 
    .each-tour .teaser { width: 450px; margin-top: 25px; color: #404041; }
        .each-tour .teaser .meta-one { margin-top: 30px; }


/* ********** Sponsors ************ */
.sponsors-pane .content .each-tour:first-child { width: 650px; margin-right: 100px; padding: 20px 35px }
    #idc-vert { background: url(../img/idc-vert.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

    .sponsors-pane .teaser { color: rgba(255,255,255,.8); }
        .contact-list { margin-top: 25px; }
        .contact-list ul { list-style: none; }
            .yellow { color: rgb(214,223,35);}

/* ********** Contact ******** */
.contact-pane .content { background-color: #3B4241; color: rgba(0,0,0,.7); }
    .google-maps { position: relative; padding-bottom: 75%; // This is the aspect ratio height: 0; overflow: hidden; }
    .google-maps iframe { position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important; }

    .contact-pane .contact-list { padding-left: 35px; }
    .contact-pane .each-tour { }
        .address { color: rgba(0,0,0,.8); margin-top: 55px; }
            .address p { margin: 0; }

.about-pane .content { background: url(../img/wire-bg.png); background-attachment: fixed; background-repeat: no-repeat; background-size: cover; }
#about-pic { background: url(../img/idc_front.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
    #about-pic .big-quote { position: absolute; top: 10%; left: 100px; color: #FFE11A; width: 70%; }
#about-info { width: 550px; padding: 60px; }
.about-pane #contact-info.each-tour { width : 350px; padding: 130px 0 0 0; }


.alumni-pane .content { background: url(../img/wire-bg.png); background-attachment: fixed; background-repeat: no-repeat; background-size: cover; }
#alumni-pic { background: url(../img/alumni-2.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
    #alumni-pic .big-quote { position: absolute; top: 50%; left: 100px; color: rgb(214,223,35); width: 70%; }
#alumni-info { width: 600px; padding: 60px; }
    .event-details { margin:  30px 0; }
    .event-details p { margin: 0; }

    
    
    






